scripts=[
        "
        create path (sling:OrderedFolder) /content/dam/edu
        create path (nt:unstructured) /content/dam/edu/jcr:content
        set properties on /content/dam/edu/jcr:content
        set cq:conf{String} to /conf/edu
        set jcr:title{String} to \"Benq EDU\"
        end
        "
]
